
<div class="input-group">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" placeholder="Search here" #filter/>
    </div>
    <button type="button" class="btn btn-primary" (click)="farmerList(filter.value)">
      <i class="fas fa-search"></i>
    </button>
</div>

<!-- <input type="text" placeholder="Filter by city" #filter> -->
<!-- <button class="primary" type="button" (click)="farmerList(filter.value)">Search</button> -->
<p *ngFor="let tempfarmer of farmer">
  <a [routerLink] = "['/patti',tempfarmer.farmerId]">
    {{tempfarmer.farmerId}}
    {{tempfarmer.firstName}}
    {{tempfarmer.lastName}}
    {{tempfarmer.mobile}}
    {{tempfarmer.address}}
  </a>
</p>

 