<p>patti works!</p>


<form>
    <div class="form-group">
      <label for="exampleInputPrice">Price</label>
      <input type="number" min=0 [(ngModel)]="goodArr.price" name="price" class="form-control" id="exampleInputPrice" placeholder="Enter price">
    </div>
    <div class="form-group">
      <label for="exampleInputWeight">Weight</label>
      <input type="number" min=0 [(ngModel)]="goodArr.weight" name="weight" class="form-control" id="exampleInputWeight" placeholder="Enter Weight">
    </div>
    <div class="form-group">
        <label for="exampleInputAmount">Amount</label>
        {{calculate()}}
    </div>
    <div class="form-group">
        <label for="exampleInputAdvAmount">Advance Amount</label>
        <input type="number" min=0 [(ngModel)]="goodArr.advanceAmount" name="advanceAmount" class="form-control" id="exampleInputAdvAmount" placeholder="Enter Advance Amount">
    </div>
    <div class="form-group">
        <label for="exampleInputCheckNumber"></label>
        <input type="number" min=0 [(ngModel)]="goodArr.checkNumber" name="checkNumber" class="form-control" id="exampleInputCheckNumber" placeholder="Enter Check Number">
    </div>

    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
  </form>